* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #292929;
  min-width: 0;
}
.container {
  max-width: 1200px;
  margin: auto;
  min-width: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.links {
  width: 500px;
  margin-left: 420px;
}
.header-link {
  display: inline-block;
  color: #ffa31a;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding-left: 30px;
}
.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin: 0;
  margin-right: 30px;
}
.input {
  background: #ffffff;
  border: 3px solid #ffa31a;
  border-radius: 20px;
  font-size: 16px;
  line-height: 24px;
  padding: 5px;
  background-repeat: no-repeat;
  padding-left: 32px;
}
.buttons {
  display: flex;
  align-items: center;
}
.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #ffa31a;
  border: 1px solid #1b1b1b;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 5px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.button-text {
  vertical-align: middle;
}
.promo {
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #ffa31a url(../img/rider.png) no-repeat top -200px right 0px;
  border-radius: 10px;
  padding: 100px 70px;
  padding-left: 810px;
  padding-top: 30px;
  margin-bottom: 20px;
}
.promo-title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 46px;
  width: 400px;
  color: #ffffff;
  text-shadow: #1b1b1b 3px 2px;
}
.button-main {
  display: flex;
  margin-top: 50px;
  margin-bottom: -30px;
  margin-left: 40px;
  padding: 8px 16px;
  background: #ffffff;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  line-height: 30px;
  color: #ffa31a;
  padding-right: 70px;
  padding-left: 70px;
  box-shadow: 1px 1px 1px 0px #1b1b1b;
}
.button-text-main {
  text-shadow: #1b1b1b 0.5px 0.5px;
}
.section-title {
  color: #ffffff;
  text-shadow: #1b1b1b 3px 3px;
  font-size: 40px;
}
.section-heading {
  display: flex;
  align-content: center;
  margin-bottom: 40px;
  margin-top: 34px;
}
.description-main {
  margin-top: -0px;
}
.description-item {
  width: 1200px;
  height: 325px;
}
.descrition-text {
  color: #ffffff;
  font-size: 26.6px;
}
.descrition-image {
  max-width: 100%;
  width: 450px;
  height: 300px;
  border-radius: 20px;
}
.item_1-image {
  display: flex;
  margin-left: 700px;
  box-shadow: 3px 2px 2px 0px #ffa31a;
}
.item_2-image {
  display: flex;
  margin-left: 60px;
  box-shadow: -3px 2px 2px 0px #ffa31a;
  margin-top: -245px;
}
.item_3-image {
  display: flex;
  margin-left: 700px;
  box-shadow: 3px 2px 2px 0px #ffa31a;
}
.item_1-text {
  width: 600px;
  display: flex;
  margin-left: 70px;
  margin-top: 200px;
  margin-bottom: -225px;
  text-shadow: #000000 3px 3px;
}
.item_2-text {
  display: flex;
  margin-left: 600px;
  margin-top: 50px;
  text-shadow: #000000 3px 3px;
}
.item_3-text {
  width: 600px;
  display: flex;
  margin-left: 70px;
  margin-top: 50px;
  margin-bottom: -200px;
  text-shadow: #000000 3px 3px;
}
.connection {
  display: flex;
  margin-top: 75px;
  margin-bottom: 125px;
}
.connection-title {
  font-size: 40px;
  color: #ffffff;
  text-shadow: #000000 3px 3px;
}
.connection-sub-title {
  font-size: 26.6px;
  color: #ffffff;
  text-shadow: #000000 2px 2px;
}
.connection-menu {
  width: 600px;
  margin-top: 170px;
  margin-left: -630px;
}
.connection-menu-name {
  display: inline-block;
}
.input-surname {
  margin-left: 20px;
}
.input-mail-phone {
  width: 475px;
  margin-top: 20px;
}
.input-message {
  width: 475px;
  margin-top: 20px;
  height: 70px;
}
.button-connection {
  margin-top: 400px;
  margin-left: -460px;
  width: 200px;
  height: 45px;
  background-color: #ffa31a;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
  font-size: 20px;
}
.footer {
  background-color: #ffa31a;
}
.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-link {
  display: inline-block;
  color: #292929;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.footer-link:not(:last-child) {
  margin-right: 20px;
}
.footer-nav {
  margin-left: 35px;
  margin-right: auto;
}
.social-links {
  display: flex;
  align-items: center;
}
.social-link:not(:last-child) {
  margin-right: 25px;
}
